/* You can add global styles to this file, and also import other style files */
@use 'colors';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main{
    top: 50px;
    position: relative;
    padding: 10px;
    margin: 0px 20px 0px 20px;
    background-color: colors.$lightBackground;
}

.grid{
    width: 100%;
}

.grid .col-1{
    width: 100%;
}

.card{
    margin: 10px 0;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 2px;
    height: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.card-header {
    padding: 10px 10px 2px 5px;
    border-radius: 0;
    border-bottom: 1px solid colors.$policeColor;
    display: inline-block;
    width: 100%;
    box-sizing: border-box; 
}

.card-title{
    float: left;
    color:colors.$darkColor;;
    padding: 0 5px 2px 5px;
    font-size: 16px;
    font-weight: bold;
}

.card-filter{
    float: right;
}

.card-body{
    margin: 10px;
}

.modal-header {
    padding: 10px 10px 2px 5px;
    border-radius: 0;
    border-bottom: 1px solid colors.$policeColor;
    display: inline-block;
    width: 100%;
    box-sizing: border-box; 
}

.modal-title {
    float: left;
    color: colors.$darkColor;
    padding: 0 5px 2px 5px;
    font-size: 16px;
    font-weight: bold;
}
.modal-body {
    padding: 10px;
}

.actions {
    text-align: center;
    margin: 10px;

    .bouton {
        display: inline-block;
        color: colors.$lightColor;
        background: colors.$policeColor;
        padding: 2px 16px 2px 16px;
        line-height: 1.4;
        margin: 10px 2px;
        cursor:pointer;
        border: none;
        &:disabled {
            color: #8896A2;
            cursor:default;
        }
        &:hover {
            background: #D0E4F7;
        }
    }
}

.modal-window {    
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 5px 5px;
    border: 1px solid rgb(173, 190, 206);
    margin-top: 20px;
    
    mat-form-field {
        min-width: 200px;
        margin: 10px;
    }
}

