<!---->
<div>
    <tbk-header title={{title}} [selectedTravel]="selectedTravel" (navEvent)="navigateTo($event)"></tbk-header>
</div>
<div class="main">
    <tbk-travels    *ngIf="page == 'TRAVELS'"
                    [countries] = 'countries'
                    [zones] = 'zones'
                    (selectTravelEvent)="selectTravel($event)">
    </tbk-travels>

    <tbk-detail     *ngIf="page == 'DETAIL' && selectedTravel"
                    [travel] = 'selectedTravel'>
    </tbk-detail>
</div>