<div class="grid">
    <div class="col-1">

        <div class="card">
            <div class="card-header">
                <div class="card-title">LISTE DES EVENEMENTS</div>
            </div>
            <div class="card-body">
                <div *ngIf="travel && travel.days">
                    <div class='slider-container'>
                        <button type="button" class="bouton" (click)="prevDay()">&lt;</button>
                        <mat-slider
                            class="slider"
                            [max]='travel.days.length-1'
                            min=0
                            step=1
                            thumbLabel tickInterval="1"
                            [(ngModel)]="selectedDayIndex">
                        </mat-slider>
                        <button type="button" class="bouton" (click)="nextDay()">&gt;</button>
                    </div>

                    <table class="tbk-table">
                        <thead>
                            <tr><th colspan="5"><span>Evénements du </span><span>{{ selectedDay()?.libelle }} : </span></th></tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let evt of selectedDay().evenements" [ngClass]="{'selectionnable': true, 'selected': evt == selectedEvenement}" (click)="selectEvenement(evt)">
                                <td><span>{{ evt.description }}</span></td>
                                <td><span>{{ evt.type }}</span></td>
                                <td><span>{{ evt.date | date : 'fullDate' }}</span></td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>

    </div>
</div>
